header {
    padding: 10%;
    text-align: center;
    background: #efefef;
    color: Black;
    font-family: Arial;
}
.banner {
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
}
.bannertext {
  text-align: center;
  position: relative;
  font-weight:bold;
  font-family:arial;  
  top: 25%;
  right: 50%;
  font-size: 75px;
  transform: translate(10%, -50%);
  color: white;
}
.bannersubtext {
  text-align: center;
  position: relative;
  font-weight:bold;
  font-family:arial;
  top: 30%;
  right: 50%;
  font-size: 40px;
  transform: translate(10%, -50%);
  color: white;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
}
.navbar a {
	line-height: 20px;
	font-size: 18px;
    font-family: Arial;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    margin-right: 10px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: grey;
    color: white;
}
body{
    font-family: Arial;
    margin: 0;
    background-color: #efefef;
}
.content {
    font-family: Arial;
    background-color: white;
    height: 100%;
    width: 80%;
    margin-top:1.5%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 10px 9px 9px #888888;
    position: relative;
}
.post{
    padding: 20px 0px;
    color: black;
}
.post h1{
    font-family:arial;
    position: relative;
    padding: 15px;
    top:0;
    margin:0;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.post p{
    font-family:arial;
    margin-left: 20px;
    line-height: 25px;
}
.post a:link {
    color: blue;
}
.post a:visited {
    color: blue;
}
.post a:hover {
    color: grey;
}
.post a:active {
    color: grey;
} 
.pic {
    margin-left:2%;
	margin-right:2%;
	height:450px;
    height:35%;
    width: 35%;
    width: 450px;
}
.duopic{
    margin-left: 10%;
    margin-right: 2%;
    width: 100%;
}
.duopicsign{
    margin-left: 10%;
    margin-right: 2%;
    width: 80%;
}
.duopicspecial{
    margin-left: 10%;
    margin-right: 2%;
    width: 86%;
}
.picportrait {
    margin-left:2%;
	margin-right:2%;
	height:400px;
    width: 225px;
}
.picitem {
    display: block;
    border-style: solid ;
    border-color: darkgrey;
    height:400px;
    height: 100%;
    width: 225px;
    width: 80%;
    box-shadow: 5px 5px 9px 0px #888888;
}
.picitem:hover{
   border: 1px solid #777;
}
.column {
    float: left;
    width: 45%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.large{
	font-size: 45px
}
.cleafix{
	overflow:auto;
	text-align: justify
}
.spaceleft{
    margin-left: 6%;
}
.lilspace {
margin-left:2%;
margin-right:2%;
}
#left{
	float: left;
}
#right{
	float: right;
}
.left{
    float: left;
}
.right{
    float: right;
}
.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.columnitem{
    margin-left:4.02%;
    float: left;
    width: 28%;
    padding: 10px;
    height: 450px;
}
.rowitem:after {
    content: "";
    display: table;
    clear: both;
}
.contactus {
	font-family:arial;
	color:white;
	text-align: left;
	width: 98%;
	background-color: #414141;
	padding:15px;
	line-height:30px
}
footer {
    font-family:arial;
    padding: 10px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 20px;
    right: 0;
    left: 0;
    position: relative;
}
input[type=text], input[type=number] {
  font-family:arial;
  width: 98%;
  padding: 15px;
  margin: 10px 10px+ 20px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=number]:focus {
 font-family:arial; 
 background-color: #ddd;
  outline: none;
}
.specialp{
    font-family: arial;
    font-weight: bold;
    margin-right: 20px;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
button {
  font-family:arial;
  font-size: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.signupbutton {
  width: 100%;
}
@media screen and (max-width: 300px) {
  .signupbutton {
     width: 100%;
  }
}